nav {
  min-height: 100px;

  background-color: white;

  .brand-logo {
    color: black;
  }

  ul {
    li {
      a {
        color: black;
      }
    }

    a {
      :hover {
        background-color: transparent;
        border-bottom: 1px solid crimson;
      }
    }
  }
}

.register-card{
  padding: 50px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 600px;
  margin: 0 auto;
}

.login-card{
  padding: 50px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 600px;
  margin: 0 auto;
}